.customer-banner {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.customButtonContainer {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
}
.customButton {
  border: 1px solid darkgray;
  border-radius: 5px;
}
.customHidden {
  display: none;
}
.customAlert {
  position: absolute;
  top: 0;
  background: white;
  place-content: center;
  width: 100%;
  z-index: 10;
  background: rgb(60, 60, 60);
  padding: 2rem;
}
.customAlertInner {
  text-align: center;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  opacity: 1;
  max-width: max-content;
  margin: auto;
}
